@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --width-sidebar: 240px;
  --height-header: 57px;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

